// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color 

$color-blue-light: #183962;
$color-blue-dark: #011b3f;
$color-white: #fff;
$color-dark:#000;
$color-primary:#275c53;
$color-red:#ca0815;
$color-orang:#ff8326;
