// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//utitilies
@import './base/utitlities';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//layouts
@import './layout/header-nav';
@import './layout/carouser';
@import './layout/postLayout-1';

//page 
@import './components/postLayout';
@import './pages/welcome';
a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  a[title]{
    content: attr(title);
    background-color: blak;
    color:$bg-slate-50;
  }